<% layout("/layouts/boilerplate") %>

  <main class="container mx-auto my-4">
    <h1 class="mb-4 text-4xl font-bold text-center">Edit Campground</h1>
    <header class="mx-2 py-4 px-2 border border-gray-400 rounded">
      <h2 class="text-2xl font-bold">
        <%= campground.title %>
      </h2>
      <h2 class="text-xl font-semibold">
        <%= campground.location %>
      </h2>
    </header>

    <form action="/campgrounds/<%= campground.id %>?_method=PUT" method="post"
      class="m-2 flex flex-col border border-gray-400 rounded validated-form">
      <div class="py-4 px-2 border-b border-b-gray-400">
        <label for="title" class="font-bold">Name:</label>
        <input type="text" id="title" name="campground[title]" placeholder="Campground new name..."
          value="<%= campground.title %>" required
          class="ml-2 pb-1 border-b border-b-gray-500 italic font-semibold text-gray-500">
      </div>
      <div class="py-4 px-2 border-b border-b-gray-400">
        <label for="location" class="font-bold">Location:</label>
        <input type="text" id="location" name="campground[location]" placeholder="Campground new location..."
          value="<%= campground.location %>" required
          class="ml-2 pb-1 border-b border-b-gray-500 italic font-semibold text-gray-500">
      </div>
      <div class="py-4 px-2 border-b border-b-gray-400">
        <label for="image" class="font-bold">Image URL:</label>
        <input type="text" id="image" name="campground[image]" placeholder="Campground new image..."
          value="<%= campground.image %>" required
          class="ml-2 pb-1 border-b border-b-gray-500 italic font-semibold text-gray-500">
      </div>
      <div class="py-4 px-2 flex flex-col gap-2 border-b border-b-gray-400">
        <label for="description" class="font-bold">Description:</label>
        <textarea type="text" id="description" name="campground[description]"
          placeholder="A brief description of the campground..." required
          class="pb-1 h-32 border-b border-b-gray-500 italic font-semibold text-gray-500 resize-none"><%= campground.description %></textarea>
      </div>
      <div class="py-4 px-2 border-b border-b-gray-400">
        <label for="price" class="font-bold">Price: $</label>
        <input type="number" step="0.01" id="price" name="campground[price]" placeholder="0.00"
          value="<%= campground.price %>" required
          class="pb-1 border-b border-b-gray-500 italic font-semibold text-gray-500">
      </div>
      <button class="py-4 text-white font-bold bg-green-500 capitalize hover:bg-green-400">Update campground</button>
    </form>
    <div class="my-4 mx-2">
      <a href="/campgrounds/<%= campground.id %>"
        class="inline-block py-2 w-full text-white bg-orange-500 font-bold rounded uppercase text-center hover:bg-orange-400">
        cancel
      </a>
    </div>
  </main>