<% layout("/layouts/boilerplate") %>

  <h1>
    <%= campground.title %>
  </h1>
  <h2>
    <%= campground.location %>
  </h2>

  <form action="/campgrounds/<%= campground.id %>?_method=PUT" method="post">
    <div>
      <label for="title">Name:</label>
      <input type="text" id="title" name="campground[title]" placeholder="Campground new name..."
        value="<%= campground.title %>">
    </div>
    <div>
      <label for="location">Location:</label>
      <input type="text" id="location" name="campground[location]" placeholder="Campground new location..."
        value="<%= campground.location %>">
    </div>
    <button>Update campground</button>
  </form>
  <a href="/campgrounds/<%= campground.id %>">cancel</a>