<% layout("/layouts/boilerplate") %>

  <main class="container mx-auto my-4">
    <header class="mx-2 py-4 px-2 border border-gray-400 rounded">
      <h1 class="text-2xl font-bold">
        <%= campground.title %>
      </h1>
      <h2 class="text-xl font-semibold">
        <%= campground.location %>
      </h2>
    </header>

    <form action="/campgrounds/<%= campground.id %>?_method=PUT" method="post"
      class="m-2 flex flex-col border border-gray-400 rounded">
      <div class="py-4 px-2 border-b border-b-gray-400">
        <label for="title" class="font-bold">Name:</label>
        <input type="text" id="title" name="campground[title]" placeholder="Campground new name..."
          value="<%= campground.title %>"
          class="ml-2 pb-1 border-b border-b-gray-500 italic font-semibold text-gray-500">
      </div>
      <div class="py-4 px-2 border-b border-b-gray-400">
        <label for="location" class="font-bold">Location:</label>
        <input type="text" id="location" name="campground[location]" placeholder="Campground new location..."
          value="<%= campground.location %>"
          class="ml-2 pb-1 border-b border-b-gray-500 italic font-semibold text-gray-500">
      </div>
      <button class="py-4 text-white font-bold bg-green-500 capitalize hover:bg-green-400">Update campground</button>
    </form>
    <div class="my-4 mx-2">
      <a href="/campgrounds/<%= campground.id %>"
        class="inline-block py-2 w-full text-white bg-orange-500 font-bold rounded uppercase text-center hover:bg-orange-400">
        cancel
      </a>
    </div>
  </main>